html, body {
    min-height: 100%;
}
body, div, form, input, p, select {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    color: #666;
    line-height: 22px;
}
h1 {
    font-weight: 400;
}
.testbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 3px;
}
form {
    width: 100%;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 5px #ccc;
}
select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    vertical-align: middle;
    width: 250px;
    margin-right: 10px;
}
input {
    width: calc(100% - 10px);
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    vertical-align: middle;
}
input:hover, textarea:hover {
    outline: none;
    border: 1px solid #095484;
}
th, td {
    width: 10%;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
    text-align: center;
    vertical-align: unset;
    line-height: 18px;
    font-weight: 400;
    word-break: break-all;
}
.first-col {
    width: 16%;
    text-align: left;
}
textarea:hover {
    outline: none;
    border: 1px solid #1c87c9;
}
table {
    width: 100%;
}
textarea {
    width: calc(100% - 6px);
}
.question {
    padding: 15px 0 5px;
    color: #095484;
}
.question-answer label {
    display: block;
    padding: 0 20px 10px 0;
}
.question-answer input {
    width: auto;
}
.btn-block {
    margin-top: 20px;
    text-align: center;
}
button {
    width: 250px;
    padding: 10px;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #095484;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
button:hover {
    background-color: #0666a3;
}
@media (min-width: 568px) {
    th, td {
        word-break: keep-all;
    }
}
.container{
    margin: 0 auto;
    width: 50%;
    text-align: center;
}
.input{
    margin-bottom: 10px;
}
.disabled{
    opacity: 0.5;
    cursor: not-allowed;
}
.main-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}